
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color:rgb(26, 26, 26);
    font-family: 'Noto Sans', sans-serif;
}
html body{
    background-color:rgb(26, 26, 26);
}
li, a, button{
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    color: #edf0f1;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 12.5%;
    margin-bottom: 0;
    padding-bottom: 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);  
}
.navlink{
    list-style-type: none;
    margin-bottom: 0;
    padding:0;
}
.navlink li{
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 0px;
}
.navlink li a{
    transition: all 0.3s ease 0s;
}
.navlink li a:hover{
    color: teal;
}
.contact button{
    padding: 3px 13px;
    background-color: rgb(1, 213, 213);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.contact button:hover{
    background-color: rgb(1, 137, 137);
    transform: scale(1.035);   
}

.welcome{
    text-align: center;
    margin-top: 55px;
    font-size: 40px;
    text-transform: uppercase;
    color: teal;
    margin-bottom: 0px;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.about{
    width: 100%;
    padding: 100px;
}
.about img{
    padding-right: 40px;
    height: auto;
    width: auto;
}
.about about-txt{
    width: 700px;
    margin-top: 0;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: teal
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-txt h2{
    color: teal;
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    
}
.about-txt h3{
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #edf0f1;
}
.about-txt p{
    font-size: 17px;
    line-height: 25px;
    width: 600px;
    color: #edf0f1;
    letter-spacing: 1.3px;
}
